{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <title>Form 1</title>
</head>
<style>
    body {
        margin-right: 5%;
        margin-left: 5%;
    }

    .right-label {
        text-align: right;
    }
    .col-md-6,
    .col-md-4,
    .col-md-2,
    .col-md-10 {
        border: solid 1px #000;
    }

    .npadding {
        padding: 0 !important;
    }
    p
    {
        padding-top: calc(.375rem + 1px);
        padding-bottom: calc(.375rem + 1px);
        margin-bottom: 0;
        line-height:1.5;
    }
</style>

<body>
    <div class="container-fluid mt-3">
        <form name="mform" id="mform" method="POST" action="">
            {% csrf_token %}
            <div class="row mb-3 mt-3">
                <label for="date" class="col-md-2 col-form-label">Date: </label>
                <div class="col-md-4 npadding">
                    <input required type="datetime-local" disabled class="form-control" id="date" name="date" value="{{form.date}}">
                </div>
                <label for="contantNo" class="col-md-2 col-form-label right-label">Contact No. </label>
                <div class="col-md-4 npadding">
                    <input required type="text" disabled class="form-control" id="contantNo" name="contantNo" value="{{form.control_no}}">
                </div>
            </div>
            <div class="row mt-5 mb-5">

            </div>
            <div class="row mb-3 mt-3">
                <label for="appliedby" class="col-md-2 col-form-label">Applied by: </label>
                <div class="col-md-10 npadding">
                    <input required type="text" disabled class="form-control" id="appliedby" name="appliedby" value="{{form.applied_by}}">
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <label for="currency" class="col-md-2 col-form-label">Currency description: </label>
                <div class="col-md-10 npadding">
                    <input required type="text" disabled class="form-control" id="currency" name="currency" value="{{form.currency_desc}}">
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <label for="purpose" class="col-md-2 col-form-label">Purpose of currency requirement: </label>
                <div class="col-md-10 npadding">
                    <input required type="text" disabled class="form-control" id="purpose" name="purpose" value="{{form.purpose}}">
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <label for="datereq" class="col-md-2 col-form-label">Date of requirement: </label>
                <div class="col-md-10 npadding">
                    <input required type="text" disabled class="form-control" id="datereq" name="datereq" value="{{form.date_of_requirement}}">
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <label for="approx" class="col-md-2 col-form-label">Approximate date of return: </label>
                <div class="col-md-10 npadding">
                    <input required type="text" disabled class="form-control" id="approx" name="approx" value="{{form.date_of_return}}">
                </div>
            </div>
            <div class="row mt-5 mb-5">

            </div>
            <div class="row mb-3 mt-3">
                <div class="col-md-2 text-center">
                    <p>Currency</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>Denomination</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>No.of pcs</p>
                </div>
                <div class="col-md-2 text-end">
                    <p>Value in local currency</p>
                </div>
            </div>
            {% for x in convs %}
                <div id="add1" class="row mb-3 mt-3">
                    <div class="col-md-2 text-center npadding">
                        <input required type="text" disabled class="form-control" id="currency0" value="{{x.currency}}">
                    </div>
                    <div class="col-md-2 npadding">
                        <input required type="text" disabled class="form-control" id="denomination0" value="{{x.denomination}}">
                    </div>
                    <div class="col-md-2 npadding">
                        <div class="input-group">
                            <input required type="text" disabled class="form-control text-end" id="npieces0" value="{{x.no_of_pcs}}">
                            <div class="input-group-text">Pcs</div>
                        </div>
                    </div>
                    <div class="col-md-2 npadding text-end">
                        <div class="input-group">
                            <input required type="text" disabled class="form-control text-end" id="tlprice0" value="{{x.value_in_local}}">
                            <div class="input-group-text">AED</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mb-3 mt-3">
                <div class="col-md-4 text-end">
                    <p>Total pcs/Value: </p>
                </div>
                <div class="col-md-2 npadding">
                    <div class="input-group">
                        <input required type="text" disabled class="form-control text-end" value="{{totalVal}}" id="tlval" disabled >
                        <div class="input-group-text">Pcs</div>
                    </div>
                </div>
                <div class="col-md-2 npadding text-end">
                    <div class="input-group">
                        <input required type="text" disabled class="form-control text-end" value="{{totalPcs}}" id="tlpieces"  disabled >
                        <div class="input-group-text">AED</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="row mb-3 mt-3">
                    <div class="col-md-2" npadding>
                        <p>Form was approved by User ID {{form.approved_by}}.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-md-3 npadding">
                    <div class="form-check">
                        <input required class="form-check-input" type="radio" name="approval1" id="flexRadioDefault1" value="approved">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Accept Form
                        </label>
                      </div>
                      <div class="form-check">
                        <input required class="form-check-input" type="radio" name="approval1" id="flexRadioDefault2" value="declined" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Reject Form
                        </label>
                      </div>
                </div>
            </div>
        </form>

        <div class="row mb-3 mt-3">
            <div class="col-md-1 npadding">
                <button class="btn btn-primary" onclick="Submit()">Submit</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script>
        var i = 1;
        function addRow()
        {
            i++;
            document.getElementById("mform").innerHTML += '<div id="add' +i+ '"class="row mb-3 mt-3"><div class="col-md-2 text-center npadding"><select class="form-select" aria-label="Default select example"><option selected>Open this select menu</option><option value="1">One</option><option value="2">Two</option><option value="3">Three</option></select></div><div class="col-md-2 npadding"><input required type="text" disabled class="form-control" id="denomination0"></div><div class="col-md-2 npadding"><div class="input-group"><input required type="text" disabled class="form-control text-end" id="npieces'+i+'"><div class="input-group-text">Pcs</div></div></div><div class="col-md-2 npadding text-end"><div class="input-group"><input required type="text" disabled class="form-control text-end" id="tlprice'+i+'"><div class="input-group-text">AED</div></div></div><div class="col-md-1"><button class="btn btn-danger w-100" onclick="rmRow('+i+')">Remove</button></div></div>';
        }
        function rmRow(x)
        {
            document.getElementById("add"+x).outerHTML = "";
        }
        function Submit()
        {
            document.getElementById("mform").submit();
        }
    </script>
    
</body>

</html>